body {
    background-color: #f4f4f4;

    font-size: 20px;
    line-height: 50px;

    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #f1f1f1;

    position: fixed;
    left: 0;
    top: 0;
}

.header {
    background-color: skyblue;
}

h3{
    text-align: center;
}

.progress {
    width: 100%;
    height: 5px;
    background-color: #bbb;
}

#progressbar {
    width: 0%;
    height: 5px;
    background-color: red;
}

.print-btn {
    cursor: pointer;
}

.content{
    /* background-color: red; */
    background: linear-gradient(red, orange);

    width: 80%;
    padding: 50px;
    margin: 100px auto;
}

/* @media print { */
    /* *{ */
        /* visibility: hidden; */
    /* } */

    /* .printarea * { */
        /* visibility: visible; */
    /* } */

    /* .header { */
        /* position: static; */
    /* } */

    /* .pagebreak { */
        /* page-break-after: always; */
        /* page-break-before: always; */
    /* }     */
/* } */

/* @page{ */
    /* size: portrait; */
    /* size: landscape; */

    /* size: auto; */

    /* size: A4; */
    /* size: A4 landscape; */

    /* size: legal; */
    /* size: 6in 4in; */

    /* margin: 0; */
/* } */

/* 8JS */